\#*
.\#*
*~

# restroom files
.env
.envrc
package-lock.json
restroom/node_modules

# generated test files
contracts/keyring.json
contracts/public_keys.json
contracts/did_document.json

# utility
restroom-test

# local secrets
secrets
