server {
  listen 443 ssl;
  root /var/www/html;
  server_name {{ domain_name }};
  ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;

# Redirect non-https traffic to https
  if ($scheme != "https") {
    return 301 https://$host$request_uri;
  }
  location = / {
    return 301 https://dyne.org/W3C-DID;
  }
  location = /explorer {
    return 301 https://explorer.did.dyne.org;
  }
  location / {
    proxy_pass http://127.0.0.1:{{ local_port }}/;
  }
}

server {
  listen 80;
  listen [::]:80;
  root /var/www/html;
  server_name {{ domain_name }};
  location / {
    proxy_pass http://127.0.0.1:{{ local_port }}/;
  }
#  return 301 https://$host$request_uri;
}
