@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-variant-numeric: slashed-zero;
}
